<?xml version="1.0"?>
<config>
	<modules>
		<Prizeless_Paynow>
			<version>0.1.0</version>
		</Prizeless_Paynow>
	</modules>
	<global>
		<blocks>
			<paynow>
				<class>Prizeless_Paynow_Block</class>
			</paynow>
		</blocks>
		<helpers>
			<paynow>
				<class>Prizeless_Paynow_Helper</class>
			</paynow>
		</helpers>
		<models>
			<paynow>
				<class>Prizeless_Paynow_Model</class>
			</paynow>
		</models>
		<resources>
			<paynow_setup>
				<setup>
					<module>Prizeless_Paynow</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</paynow_setup>
			<paynow_write>
				<connection>
					<use>core_write</use>
				</connection>
			</paynow_write>
			<paynow_read>
				<connection>
					<use>core_read</use>
				</connection>
			</paynow_read>
		</resources>
    </global>
	
	<frontend>
		<routers>
			<paynow> 
				<use>standard</use>
				<args>
					<module>Prizeless_Paynow</module>
					<frontName>paynow</frontName>
				</args>
			</paynow>
		</routers>
	</frontend>
 
	<default>
		<payment>
			<paynow>
				<model>paynow/standard</model>
				<active>1</active>
				<title><![CDATA[PayNow]]></title>
			</paynow>
		</payment>
	</default>
    <crontab>
        <jobs>
            <paynow_cron>
                <schedule>
                    <cron_expr>0,45 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>paynow/observer::pollStatus</model>
                </run>
            </paynow_cron>
        </jobs>
    </crontab>
</config>